:root {
  --color-gray: #212121;
  --color-gray-dark: #000;
  --color-gray-light: #454545;

  --color-primary: #12bcc1;
  --color-primary-dark: #0d8a8e;
  --color-primary-light: #14d5db;

  --color-secondary: #f5f5f5;
  --color-secondary-dark: #e0e0e0;
  --color-secondary-light: #fafafa;

  --color-default: #132639;

  --color-success: #a0e2bb;
  --color-error: #f2aeb0;
  --color-warning: #f7edb1;
  --color-info: #89eaed;

  --color-black: #000;
  --color-white: #fff;
}

body {
  color: var(--color-gray);
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.center {
  display: grid;
  place-items: center;
}

.fill-height {
  height: 100%;
}

hr {
  height: 1px;
  margin: 1rem 0;
  border: none;
  background-color: var(--color-secondary-dark);
}

.hero {
  max-width: 800px;
  min-height: 600px;
  margin: 0 auto;
}
