@import url(../base.css);

/* Text Colors */
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-gray {
  color: var(--color-gray);
}
.text-default {
  color: var(--color-default);
}
.text-success {
  color: var(--color-success);
}
.text-error {
  color: var(--color-error);
}
.text-warning {
  color: var(--color-warning);
}
.text-info {
  color: var(--color-info);
}
.text-white {
  color: white;
}

/* Background Colors */
.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-gray {
  background-color: var(--color-gray);
}
.bg-default {
  background-color: var(--color-default);
}
.bg-success {
  background-color: var(--color-success);
}
.bg-warning {
  background-color: var(--color-warning);
}
.bg-error {
  background-color: var(--color-error);
}
.bg-info {
  background-color: var(--color-info);
}
.bg-white {
  background-color: white;
}
