@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Red Hat Display", sans-serif;
}

/* Typography */
.heading-1 {
  font-size: 3.5rem;
  font-weight: 900;
}
.heading-2 {
  font-size: 2.5rem;
  font-weight: 900;
}
.heading-3 {
  font-size: 2rem;
  font-weight: 700;
}
.heading-4 {
  font-size: 1.5rem;
  font-weight: 700;
}
.heading-5 {
  font-size: 1.25rem;
  font-weight: 700;
}

/* Text Sizes */
.text-xl {
  font-size: 2rem;
}
.text-lg {
  font-size: 1.5rem;
}
.text-md {
  font-size: 1.25rem;
}
.text-base {
  font-size: 1rem;
}
.text-sm {
  font-size: 0.875rem;
}

/* Font Weights */
.font-weight-light {
  font-weight: 300;
}
.font-weight-regular {
  font-weight: 400;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-semi-bold {
  font-weight: 600;
}
.font-weight-bold {
  font-weight: 700;
}
.font-weight-black {
  font-weight: 900;
}

/* Text Alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justified {
  text-align: justify;
}

/* Text Decoration */
.text-underline {
  text-decoration: underline;
}
.text-line-through {
  text-decoration: line-through;
}
.text-overline {
  text-decoration: overline;
}
.text-decoration-none {
  text-decoration: none;
}

/* Text Transform */
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-normal-case {
  text-transform: none;
}

@media only screen and (max-width: 768px) {
  .content {
    max-width: 85vw;
  }

  .heading-1 {
    font-size: 2.5rem;
  }
  .heading-2 {
    font-size: 2rem;
  }
  .heading-3 {
    font-size: 1.5rem;
  }
  .heading-4 {
    font-size: 1.25rem;
  }
  .heading-5 {
    font-size: 1rem;
  }

  .text-xl {
    font-size: 1.75rem;
  }
  .text-lg {
    font-size: 1.25rem;
  }
  .text-md {
    font-size: 1rem;
  }
  .text-base {
    font-size: 0.875rem;
  }
  .text-sm {
    font-size: 0.75rem;
  }
}
